<div style="text-align:center">
  <h1>{{ title }}</h1>

  <div class="">
    <input [(ngModel)]="searchParam" type="text" name="" value="" placeholder="search">
    <button (click)="onSearch()"
            type="button"
            name="button">Search
    </button>
  </div>
  <br>

  <table>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let appointment of appointments">
      <th>{{appointment.dateTime | date: 'mediumDate'}}</th>
      <th>{{appointment.dateTime | date: 'shortTime'}}</th>
      <th>{{appointment.description}}</th>
    </tr>
  </table>

  <h3>New Appointment</h3>
  <form class="" action="index.html" method="post">
    <label for="">Date</label>
    <input type="date" name="date" value="" [(ngModel)]="formData.date" required>
    <br>
    <label for="">Time</label>
    <input type="time" name="time" value="" [(ngModel)]="formData.time" required>
    <br>
    <label for="">Description</label>
    <input type="text" name="description" value="" [(ngModel)]="formData.description" required>
    <br>
    <!-- <input type="submit" name="" value="Create appointment"> -->
    <button (click)="createAppointment(formData)" type="button" name="button">Create</button>
  </form>
</div>
